In [3]:
import pandas as pd
import numpy as np


prop_powertrain = pd.read_csv("/home/cdsw/data/powertrain_propulsion_system.csv")

prop_powertrain.rename(columns={"propulsion_system_design": "e_propulsion_system_design2"}, inplace=True)
prop_powertrain['e_propulsion_system_design2'] = prop_powertrain['e_propulsion_system_design2'].str.lower()

ihs = pd.read_csv("/home/cdsw/data/ihs-202302.csv")

ihs_bis = ihs.loc[(ihs["region"] == "Western Europe") & (2018 < ihs['period_year']) & (ihs['period_year'] <= 2040) , :].reset_index(drop=True)

volumes = ihs_bis\
    .groupby(['region', 'period_year', 'e_propulsion_system_design', 'e_propulsion_system_design2', 'e_fuel_type'])\
    .agg({"sum_volume" : sum}).reset_index()

In [4]:
def define_powertrain(row):
    if ((row['e_propulsion_system_design'] == 'ICE') | (row['e_propulsion_system_design'] == 'ICE: Stop/Start')) &\
    ((row['e_fuel_type'] == 'DIESEL') | (row['e_fuel_type'] == 'DIESEL-CNG')):
        return "ICE-D"
    
    if ((row['e_propulsion_system_design'] == 'ICE') | (row['e_propulsion_system_design'] == 'ICE: Stop/Start')) &\
        ((row['e_fuel_type'] == 'GAS') | (row['e_fuel_type'] == 'GAS-CNG') |\
         (row['e_fuel_type'] == 'GAS-E100') | (row['e_fuel_type'] == 'GAS-E85') | \
         (row['e_fuel_type'] == 'GAS-LPG') | (row['e_fuel_type'] == 'GAS-M100')):
        return "ICE-G"

    if ((row['e_propulsion_system_design'] == 'ICE') | (row['e_propulsion_system_design'] == 'ICE: Stop/Start')) &\
        (row['e_fuel_type'] == 'CNG'):
        return "CNG"

    if ((row['e_propulsion_system_design'] == 'ICE') | (row['e_propulsion_system_design'] == 'ICE: Stop/Start')) &\
        (row['e_fuel_type'] == 'Hydrogen'):
        return "HICEV"

    if ((row['e_propulsion_system_design'] == 'ICE') | (row['e_propulsion_system_design'] == 'ICE: Stop/Start')) &\
        (row['e_fuel_type'] == 'LPG'):
        return "ICE-LPG"

    if  ((row['e_propulsion_system_design'] == "Hybrid-Mild") |\
        ( (row['e_propulsion_system_design'] == "Hybrid-Full") &\
         (row['e_propulsion_system_design2'] in ('HEV-Full (DIESEL)', 'HEV-Full (GAS)', 'HEV-Full (GAS-E100)',
                                                  'HEV-Full (GAS-E85)', 'HEV-Full (GAS-M100)', 'HEV-Full (LPG)')))):
        return "Hybrid"

    if (row['e_propulsion_system_design'] == "Hybrid-Full") &\
        ((row['e_propulsion_system_design2'] in ("PHEV-Full (DIESEL)" , "PHEV-Full (GAS)" , "PHEV-Full (GAS-E100)"))):
        return "PHEV"
    if (row['e_propulsion_system_design'] == "Electric"):
        return "BEV"

    if (row['e_propulsion_system_design'] == "Electric") &\
         ((row['e_fuel_type'] in ('GAS', 'GAS-E100'))):
        return "REEV"

    if (row['e_propulsion_system_design'] == "Fuel Cell"):
        return "FCEV"

    
volumes['powertrain'] = volumes.apply(lambda row: define_powertrain(row), axis=1)


agg_volume_powertrain = volumes.groupby(["period_year","powertrain"])\
    .agg({"sum_volume": sum})\
    .transform({"sum_volume": lambda x: x / 1E6})

             sum_volume
period_year
2019          13.620614
2020          10.140440
2021           9.539385
2022           9.934707
2023          10.860361
2024          11.581563
2025          11.717956
2026          11.496796
2027          11.503424
2028          11.563956
2029          11.855206
2030          11.774733

In [ ]:
.loc[agg_volume_powertrain.index.get_level_values(level=0) in (2021, 2022), :]\

In [51]:
agg_volume_powertrain.groupby(['period_year']).sum()

             sum_volume
period_year
2019          13.620614
2020          10.140440
2021           9.539385
2022           9.934707
2023          10.860361
2024          11.581563
2025          11.717956
2026          11.496796
2027          11.503424
2028          11.563956
2029          11.855206
2030          11.774733

             sum_volume
period_year
2019          13.620614
2020          10.140440
2021           9.539385
2022           9.934707
2023          10.860361
2024          11.581563
2025          11.717956
2026          11.496796
2027          11.503424
2028          11.563956
2029          11.855206
2030          11.774733

In [70]:
sum_agg = agg_volume_powertrain.reset_index().groupby(['period_year']).sum().rename(columns={"sum_volume": "sum_powertrain"})

agg_volume_powertrain_per = pd.merge(agg_volume_powertrain.reset_index(), sum_agg, on="period_year")\
.assign(percentage_volume= lambda x: x["sum_volume"] / x["sum_powertrain"])

In [72]:
agg_volume_powertrain_per.loc[agg_volume_powertrain_per.period_year == 2022, :]

    period_year powertrain  sum_volume  sum_powertrain  percentage_volume
18         2022        BEV    1.203415        9.934707           0.121132
19         2022       FCEV    0.000184        9.934707           0.000019
20         2022     Hybrid    2.039382        9.934707           0.205279
21         2022      ICE-D    2.369351        9.934707           0.238492
22         2022      ICE-G    3.537112        9.934707           0.356036
23         2022       PHEV    0.785263        9.934707           0.079042

In [2]:
tco_data = pd.read_csv('data/output/TCO.csv')

NameError: name 'pd' is not defined

In [89]:
tco_data['TCO_AVG'] = tco_data.groupby(['region', 'year','powertrain_type'])["TCO_percent"].transform(sum)

In [1]:
tco_data.query("year == 2021 and region == 'West Europe'")

NameError: name 'tco_data' is not defined

In [96]:
tco_data[['powertrain_type', 'region', 'year', 'TCO_AVG']].drop_duplicates()
tco_data.groupby([''])

    powertrain_type          region  year   TCO_AVG
0             ICE-G  western europe  2021  1.503917
4             ICE-D  western europe  2021  1.592239
8               CNG  western europe  2021  1.526376
12              HEV  western europe  2021  1.438995
16             PHEV  western europe  2021  1.459306
..              ...             ...   ...       ...
540             CNG  western europe  2040  1.536864
544             HEV  western europe  2040  1.512622
548            PHEV  western europe  2040  1.602481
552             BEV  western europe  2040  1.419819
556            FCEV  western europe  2040  1.503537

[140 rows x 4 columns]